:root {
  --main-background-color: #ffffff;
  --section-background-color: #2f303a;
  --list--background-color: #f5f4fa;
  --title-color: #212121;
  --desc-text-color: #757575;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
}

body {
  background-color: var(--main-background-color);
  color: var(--title-color);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Header section*/

.header-logo {
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2x;
  letter-spacing: 0.03em;
}

.header-logo .accent {
  color: var(--accent-color);
}

.nav-link {
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-list .nav-link:hover,
.nav-list .nav-link:focus,
.header-contacts .contacts-link:hover,
.header-contacts .contacts-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  color: var(--desc-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}

/* Hero section */

.hero {
  background-color: var(--section-background-color);
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
